<h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>


<h2>CONTACT ME</h2>
  <div class="contact_info">
    <b>Telephone</b>: 
       1800-999-9999 <br>
    <b>Email address</b>:
       webservices@webdev.com <br>           
    <b>Mailing address</b> <br>
       80 Buchanan Avenue <br>
       Newport, RI 02345
         </div>